<div class="container">


    <div class="row mb-3">
        <div class="col-12">
            <div class="h-5 bg-gray-lighter rounded" style="text-align: center;">INFORMATION COMPTE CLIENT</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="h-5 bg-gray-lighter rounded"> NOM:</div>
        </div>
        <div class="col-6">
            <div class="h-5 bg-gray-lightest rounded">PRENOM:</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <div class="h-5 bg-gray-lighter rounded">RIB:</div>
        </div>
        <div class="col-4">
            <div class="h-5 bg-gray-lightest rounded">IBAN:</div>
        </div>
        <div class="col-4">
            <div class="h-5 bg-gray-lighter rounded">NUMERO DE COMPTE:</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <div class="h-5 bg-gray-lighter rounded"></div>
        </div>
        <div class="col-3">
            <div class="h-5 bg-gray-lightest rounded"></div>
        </div>
        <div class="col-3">
            <div class="h-5 bg-gray-lighter rounded"></div>
        </div>
        <div class="col-3">
            <div class="h-5 bg-gray-lightest rounded"></div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <div class="h-5 bg-gray-lighter rounded"></div>
        </div>
        <div class="col-2">
            <div class="h-5 bg-gray-lightest rounded"></div>
        </div>
        <div class="col-2">
            <div class="h-5 bg-gray-lighter rounded"></div>
        </div>
        <div class="col-2">
            <div class="h-5 bg-gray-lightest rounded"></div>
        </div>
        <div class="col-2">
            <div class="h-5 bg-gray-lighter rounded"></div>
        </div>
        <div class="col-2">
            <div class="h-5 bg-gray-lightest rounded"></div>
        </div>
    </div>
</div>