<tr *ngIf="client">
    <td>{{client.id}}</td>
    <td>{{client.firstName}}</td>
    <td>{{client.lastName}}</td>
    <td>{{client.birtDayDate}}</td>
    <td>{{client.accountNumber}}</td>
    <td>{{client.clientId}}</td>
    <td>
      <button (click)="onSelect(client)" [ngClass]="client.status?'btn-success':'btn-danger'" class="btn btn-sm">
        <span *ngIf="client.status">Anactif</span>
        <span *ngIf="!client.status">Actif</span>
      </button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="onEdit(client)">
        <span class="fa fa-edit">Edit</span>
      </button>
    </td>
  </tr>
